{% load static %}
			<!-- Footer -->
				<div id="footer-wrapper">
					<footer id="footer" class="container">
						<div class="row">
							<div class="3u 12u(mobile)">

								<!-- Links -->
									<section>
										<h2>Acknowledgements</h2>
										<div>
													<ul class="link-list last-child">
														<li>Senator data from <a href="https://propublica.github.io/congress-api-docs/">ProPublica Congress API</a></li>
														<li>D3 Map visualization by <a href="http://bl.ocks.org/michellechandra/0b2ce4923dc9b5809922">Michelle Chandra</a></li>
														<li>Insipired by <a href="http://www.indivisibleberkeley.org">Indivisible Berkeley</a></li>
														<li>Available open-source on <a href="https://github.com/artoonie/RedStatesBlueStates">github</a></li>
														<li>Created by <a href="http://www.arminsamii.com">Armin Samii</a></li>
													</ul>
										</div>
									</section>

							</div>
							<div class="9u 12u(mobile)">
									<section>
										<h2>FAQ</h2>
										<p>
										<h3>Why can't I search directly on facebook instead of using this site?</h3><br>
										Facebook won't understand your request if you search "My friends who live in California or live in Arizona".<br>
										This site generates a URL which Facebook does understand.
										<br><br>
										
										<h3>Can this work for congresspeople as well?</h3><br>
										Not yet, due to the complex boundaries caused by gerrymandering.
										</p>
									</section>
							</div>
						</div>
					</footer>
				</div>

			<!-- Copyright -->
				<div id="copyright">
					&copy; <a href="http://www.arminsamii.com">Armin Samii</a> | Design: <a href="http://html5up.net">HTML5 UP</a>
				</div>

		</div>

		<!-- Scripts -->
			<script src="{% static 'halcyonic/assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'halcyonic/assets/js/skel.min.js' %}"></script>
			<script src="{% static 'halcyonic/assets/js/skel-viewport.min.js' %}"></script>
			<script src="{% static 'halcyonic/assets/js/util.js' %}"></script>
			<!--[if lte IE 8]><script src="{% static 'halcyonic/assets/js/ie/respond.min.js' %}"></script><![endif]-->
			<script src="{% static 'halcyonic/assets/js/main.js' %}"></script>

	</body>
</html>
