{% include "halcyonic/header.html" %}

<script>
function setColor(hoveredStateName) {
    var gray="rgb(213,222,217)"
    d3.selectAll("path").filter(
        function(d) { return (d.properties.name != hoveredStateName )})
        .style('fill', gray)
        .style('transition', '0.5s')
}
function restoreColors() {
    d3.selectAll("path").filter(
        function(d) { return (!d.properties.isLiveState )})
        .style('fill', "000")
        .style('transition', '0.5s')
    d3.selectAll("path").filter(
        function(d) { return (d.properties.isLiveState )})
        .style('fill', "{{stateColor}}")
        .style('transition', '0.5s')
}

{% for senator, ign in senatorToURLsPopsAndDesc.items %}
$(document).ready(function(){
    $( "a[id='href_{{forloop.counter0}}']" ).mouseenter(function(){setColor("{{senator.state.name}}")});
});
{% endfor %}
$(document).ready(function(){
    $( "a[name='party']" ).mouseleave(function(){restoreColors()});
});

</script>

{% load markdown_deux_tags %}
			<!-- Features -->
				<div id="features-wrapper">
					<div id="features">
                        <h1>
                            <p>{{ title }}</p>
                        </h1>
						<div class="container">
							<div class="row">
{% for senator, data in senatorToURLsPopsAndDesc.items %}
								<div class="4u 12u(mobile)" align="center">
										<section id="searchFacebook">
											<a href="{{ data.url }}" id="href_{{ forloop.counter0 }}" name="party" class="button-big">
												Ask friends in {{senator.state.name}}<br>to call
												Sen. {{ senator.firstName }} {{ senator.lastName }}
                                            </a>
											<p>
												<small>(search includes {{ data.percentPopIncludedInURL }}% of {{senator.state.name}}'s population.)</small>
											</p>
											<p>
											<strong>Copy and paste the following message to your friends in {{senator.state.name }}:</strong><br/>
												{{ data.callScript|markdown }}
											</p>
										</section>
								</div>
{% endfor %}
							</div>
						</div>
					</div>
				</div>

			<!-- Content -->
				<div id="content-wrapper">
					<div id="content">
						<div class="container">
							<div class="row" id="mapsec">
								<div class="svg-container" id="mapdiv">
										<section class="mapsection"><div class="mapsection">
<script type="text/javascript">
/* 

This visualization was made possible by modifying code from:
http://bl.ocks.org/michellechandra/0b2ce4923dc9b5809922

Which in turn was modified from:
Scott Murray, Choropleth example from "Interactive Data Visualization for the Web" 
https://github.com/alignedleft/d3-book/blob/master/chapter_12/05_choropleth.html   
        
Malcolm Maclean, tooltips example tutorial
http://www.d3noob.org/2013/01/adding-tooltips-to-d3js-graph.html

Mike Bostock, Pie Chart Legend
http://bl.ocks.org/mbostock/3888852  */


function toggleLegend() {
    var disp = document.getElementById('legend').style.display
    if(disp == "none") {
        document.getElementById('legend').style.display = "block";
        document.getElementById('toggleLegendLink').text = "[hide legend]";
    } else {
        document.getElementById('legend').style.display = "none";
        document.getElementById('toggleLegendLink').text = "[show legend]";
    }
}
        
//Width and height of map
var width = 960;
var height = 500;

// D3 Projection
var projection = d3.geo.albersUsa()
                   .translate([width/2, height/2])    // translate to center of screen
                   .scale([1000]);          // scale things down so see entire US

// Define path generator
var path = d3.geo.path()               // path generator that will convert GeoJSON to SVG paths
               .projection(projection);  // tell path generator to use albersUsa projection

        
//Create SVG element and append map to the SVG
var svg = d3.select("#mapdiv")
            .append("div")
            .attr("float", "left")
            .append("svg")
            //responsive SVG needs these 2 attributes and no width and height attr
            .attr("preserveAspectRatio", "xMinYMin meet")
            .attr("viewBox", "0 0 960 500")
            .classed("svg-content-responsive", true); 
        
// Append Div for tooltip to SVG
var div = d3.select("#mapdiv")
            .append("div")   
            .attr("id", "d3map")
            .attr("class", "tooltip")               
            .style("opacity", 0);

// Load in my states data!
{% load static %}
d3.json( "{% static 'viewsenators/us-states.json' %}", function(json) {

// Find the corresponding state inside the GeoJSON
for (var j = 0; j < json.features.length; j++)  {
    var d3State = json.features[j].properties.name;

    {% for senator, ign in senatorToURLsPopsAndDesc.items %}
        {% if forloop.counter0 == 0 %}
            if
        {% else %}
            else if
        {% endif %}
        ("{{ senator.state.name }}" == d3State) {
            json.features[j].properties.isLiveState = true; 
            continue
        }
    {% endfor %}
        else {
            json.features[j].properties.isLiveState = false; 
        }
}

// Bind the data to the SVG and create one path per GeoJSON feature
svg.selectAll("path")
    .data(json.features)
    .enter()
    .append("path")
    .attr("d", path)
    .style("stroke", "#fff")
    .style("stroke-width", "1")
    .style("fill", function(d) { return d.properties.isLiveState ? "{{stateColor}}" : "#000" });



});
</script>
										</div>
										</section>

								</div>
							</div>
						</div>
					</div>
				</div>

{% include "halcyonic/footer.html" %}
