<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'viewsenators/style.css' %}">

<script type="text/javascript">
function selectNone() {
    select(false)
}
function selectAll() {
    select(true)
}
function select(toWhat) {
  checkboxes = document.getElementsByName('senators');
  for(var i=0, n=checkboxes.length;i<n;i++) {
    checkboxes[i].checked = toWhat;
  }
}
function selectParty(partyIdList) {
  checkboxes = document.querySelectorAll(partyIdList);
  for(var i=0, n=checkboxes.length;i<n;i++) {
    checkboxes[i].checked = true;
  }
}

</script>
</head>
<body>
<center>
<input type="button" value="Select All" onClick="selectAll()" />
<input type="button" value="Select None" onClick="selectNone()" /><br/>
{% for party, idList in ids.items %}
    <input type="button" value="Select {{party}}s" onClick="selectParty('{{ idList }}')" />
{% endfor %}
</center>


<form method="post" action="create">
    {% csrf_token %}
    {{ form.as_p }}
    <p><input type="submit" value="Submit"></p>
</form>

</body>
</html>
