{% include "halcyonic/header.html" %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'viewsenators/style.css' %}">

<script type="text/javascript">
function selectNone() {
    select(false)
}
function selectAll() {
    select(true)
}
function select(toWhat) {
  checkboxes = document.getElementsByName('senators');
  for(var i=0, n=checkboxes.length;i<n;i++) {
    checkboxes[i].checked = toWhat;
  }
}
function selectParty(partyIdList) {
  checkboxes = document.querySelectorAll(partyIdList);
  for(var i=0, n=checkboxes.length;i<n;i++) {
    checkboxes[i].checked = true;
  }
}

function toggleCheetsheet() {
    var currW = document.getElementById('cheatsheet').style.width
    if(currW == "0%") {
        document.getElementById('cheatsheet').style.display = "block";
        document.getElementById('cheatsheet').style.width = "30%";
        document.getElementById('mainform').style.width = "70%";
    } else {
        document.getElementById('cheatsheet').style.display = "None";
        document.getElementById('cheatsheet').style.width = "0%";
        document.getElementById('mainform').style.width = "100%";
    }
}
</script>

			<!-- Features -->
				<div id="features-wrapper">
					<div id="features">
						<div class="container">
							<div class="row">
								<div class="2u 12u(mobile)" align="center">
										<section>
											<a href="#" class="button-small" onClick="selectAll()">Select All</a>
										</section>
								</div>
								<div class="2u 12u(mobile)" align="center">
										<section>
											<a href="#" class="button-small" onClick="selectNone()">Select None</a>
										</section>
								</div>
								<div class="2u 12u(mobile)" align="center">
								<!--spacer-->
								</div>
{% for party, idList in ids.items %}
								<div class="2u 12u(mobile)" align="center">
										<section>
											<a href="#" class="button-small" onClick="selectParty('{{ idList }}')">Select {{party}}s</a>
										</section>
								</div>
{% endfor %}
							</div>
						</div>
					</div>
				</div>

			<!-- Content -->
				<div id="content-wrapper">
					<div id="content">
						<div class="container">
							<div class="row">
								<div id="mainform" style="width:100%">
										<section>
											<form method="post" action="create">
											<h2>Select which senators you want your friends to contact.</h2><br/>
												{% csrf_token %}
												{{ form.as_p }}
												<p><input type="submit" value="Submit"></p>
											</form>
										</section>
								</div>
								<div id="cheatsheet" style="width:0%; display:None;">
									<section>
										{% load markdown_deux_tags %}
										{% markdown_cheatsheet %}
									</section>
								</div>
							</div>
						</div>
					</div>
				</div>

{% include "halcyonic/footer.html" %}
