{% include "halcyonic/header.html" %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'viewsenators/style.css' %}">

				<div id="content-wrapper">
					<div id="content">
						<div class="container">
							<div class="row">
								<div id="mainform" style="width: 100%; text-align: left">
										<section>
<center><h2>Public calls to Action</h2></center>
{% for cl in contactLists %}
    <p>
    <h2><a href="../?list={{cl.slug}}">{{cl.title}}</a></h2>
    <h3>Call Script: {{cl.description}}</h3>
    <small>
        Senators:
            {% for senator in cl.senators.all %}
                 {% if forloop.last and not forloop.first %}and{%endif%}
                 {{ senator.firstName }} {{ senator.lastName }} of {{ senator.state.name }}{% if not forloop.last %},{%endif%}
            {% endfor %}
    </small>
    </p>
    <br/>
{% endfor %}
										</section>
								</div>
							</div>
						</div>
					</div>
				</div>
{% include "halcyonic/footer.html" %}
